$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$top-bar-height: 3em;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.top-bar {
	height: $top-bar-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0097dc;
	z-index: 1000;
	
	h5 {
		line-height: 1.5em;
		text-align: right;
		padding-right: 1em;
		color: white;
		font-weight: bold;
	}
}

.header{
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	position: fixed;
	z-index: 1000;
	
	h3 {
		line-height: 0;
	}
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}

.ol-popup {
	width: 10.250em;
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 0.415em;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	font-size: 0.825em;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "✖";
}
 
.main-left-container {
	position: fixed;
	left: 0;
	width: 65vw;
	height: 100vh;
	top: $top-bar-height;
	
	#map {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		z-index: -1000;
	}
	
	#footer-nav {
		position: fixed;
		z-index: 1000;
	}
	
	#footer-nav {
		bottom: 0;
		width: inherit;
		
		li > a:hover, li > a:focus {
		  text-decoration: none;
		  background-color: rgba(255, 255, 255, 0.75);
		}
		
		li > a:active {
		  background-color: rgba(255, 255, 255, 0.15);
		  color: #eee;
		}
		
		.resort-active {
			background-color: #0097dc;
			a {
				color: #eee;
			}
		}
		
		ul.nav {
			display: inline-flex;
			width: 100%;
		}
		
		ul li {
			background-color: rgba( 0, 0, 0, 0.75);
			width: 100%;
			border-left: 1px solid rgba(255, 255, 255, 0.3);
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
	}
}

.main-right-container {
	width: 35vw;
	position: absolute;
	right: 0;
	top: $top-bar-height;
	display: block;
	
	#trail-status {
		
		background-color: rgba(0, 0, 0, 0.2);
		color: #444;
		
		tbody > tr > td {
			padding: 4px;
			border-top: 1px solid rgba(0, 0, 0, 0.3);
			border-bottom: 0;
		}
		
		td {
			font-size: smallest;
		}
		
		.easy {
			color: green;
		}
		.intermediate {
			color: blue;
		}
		.advanced {
			color: black;
		}
		.closed {
			color: red;
		}
	}	
}

.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
	height: 100vh;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 50%;
    float: left;
}

.form-inline {
	border-left: 2px solid #ddd;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1em;
	padding-bottom: 1em;
	h4 {
		text-align: right;
		width: 100%;
		padding-right: 1em;
	}	
	
	span { 
		margin: 1em;
	}
	
	input {
		width: 55%;
	}
}




