<div class="row marketing">
	
	<h4>Last Updated: {{scrapeDate.date}} at {{scrapeDate.time}}</h4>	
	
	<div class="map" id="map">
		<div id="popup" class="ol-popup">
			<a id="popup-closer" class="ol-popup-closer"></a>
			<div id="popup-content"></div>
		</div>
	</div>
	<button id="changeCenterBtn" ng-click=changeCenter('Vail')>Change Center</button>
</div>

<div class="row marketing">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Trail Name</th>
				<th>Status</th>
				<th>Difficulty</th>
			</tr>
		</thead>
		<tr ng-repeat="trail in dailyData" ng-if="$index > 0">
			<td>{{trail.trailName}}</td>
			<td>{{trail.trailStatus}}</td>
			<td>{{trail.trailDifficulty}}</td>
		</tr>
	</table>
</div>

