<div class="main-left-container">
	
	<div class="header">
	    <h4>Colorado Vail Resorts Tracker</h4>
		<h5>Last Updated: {{scrapeDate.date}} at {{scrapeDate.time}}</h5>
	</div>
	
	<div id="footer-nav">
	    <ul class="nav">
	      <li><a ng-click=changeCenter('Keystone')>Keystone</a></li>
	      <li><a ng-click=changeCenter('Breckenridge')>Breck</a></li>
	      <li><a ng-click=changeCenter('Vail')>Vail</a></li>
	      <li><a ng-click=changeCenter('BeaverCreek')>Beaver Creek</a></li>
	    </ul>
	</div>
	
	<div class="map" id="map">
		<div id="popup" class="ol-popup">
			<a id="popup-closer" class="ol-popup-closer"></a>
			<div id="popup-content"></div>
		</div>
	</div>
	
</div>
	
<div class="main-right-container">
	<table id="trail-status" class="table table-bordered">
		<thead>
			<tr>
				<th>Trail Name</th>
				<th>Status</th>
				<th>Difficulty</th>
			</tr>
		</thead>
		<tr ng-repeat="trail in dailyData" ng-if="$index > 0">
			<td><div>{{trail.trailName}}</div></td>
			<td><div>{{trail.trailStatus}}</div></td>
			<td><div>{{trail.trailDifficulty}}</div></td>
		</tr>
	</table>
</div>
	
	

